<div id="callBackPopup" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="mySmallModalLabel">Обратный звонок</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="f1" class="form ajax_form" action="javascript();">
          <div class="form__item">
            <input type="text" name="name" placeholder="Имя">
          </div>
          <div class="form__item">
            <input type="tel" name="phone" placeholder="Телефон*">
          </div>
          <div class="message"></div>
          <div class="form__item">
            <input type="submit" class="btn btn-default btn-lg" value="Отправить заявку">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div id="digitBuyOneClick" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4">Купить в один клик</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="f2" class="form ajax_form" action="javascript();">
          <h3 class="f2__title"></h3>
          <div class="form__item">
            <input type="text" name="name" placeholder="Имя">
          </div>
          <div class="form__item">
            <input type="text" name="email" placeholder="E-mail">
          </div>
          <div class="form__item">
            <input type="tel" name="phone" placeholder="Телефон*">
          </div>
          <div class="message"></div>
          <div class="form__item">
            <input type="submit" class="btn btn-default btn-lg" value="Заказать">
          </div>
            <input type="hidden" name="product" value="">
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
jQuery(".digitBuyOneClick").on('click', '', function(event) {
  var link = $(this).parent().find('h4 a').attr('href');
  var name = $(this).parent().parent().find('.caption h4').text();
  name += $(".product-name").text();
  var product = name + '. Сылка: ' + link;
  $("#f2 input[name=product]").val(product);
  $(".f2__title").text(name);
});


jQuery("#f1, #f2").submit(function() {
  var form = jQuery(this);
  var phone = jQuery(this).find('input[name="phone"]');
  var message = jQuery(this).find('.message');
  if ( phone.val() == "") {
    message.fadeIn(300).addClass('alert-danger').text('Введите Ваш телефон');
    phone.css('border', '1px solid red').focus();
  } else {
    phone.css('border', '1px solid gray');
  //yaCounter46416018.reachGoal('ORDER'); // изменить номер счётчика иначе ошибка !!!
    jQuery.ajax({
      type: "POST",
      url: "index.php?route=common/footer/send_form",
      data: form.serialize(),
			dataType: 'json',
			success: function(json) {
				if(json['error']){
          message.html(json['error']); 
				}			
				if(json['success']){
          message.fadeIn(300).removeClass('alert-danger').addClass('alert-success').text('Сообщение успешно отправлено');
				}
			}
    });
  }//if
  return false;
});
//--></script>

<footer>
{% if footer_top %}
<div class="footer-top">
{{ footer_top }}
</div>
{% endif %}
<div class="footer-container">
<div class="container">
  <div class="row">
    {% if footer_left %}
    <div class="footer-column footer-left-cms col-sm-2">
    {{ footer_left }}
    </div>
    {% endif %}
    <div class="footer-right col-sm-10">
      <div class="f-menu">
        <a class="f-menu__link" href="/">Главная</a>
        <a class="f-menu__link" href="#">Каталог</a>
        <a class="f-menu__link" href="/index.php?route=information/information&amp;information_id=6">Доставка и оплата</a>
        <a class="f-menu__link" href="/index.php?route=information/information&amp;information_id=4">О нас</a>
        <a class="f-menu__link" href="/index.php?route=information/contact">Контакты</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="footer-bottom">
  <div class="container">
  <div class="row">
  <div class="footer-bottom-link col-sm-6">
    <p>{{ powered }}</p>
  </div>
  {% if footer_bottom %}
  <div class="footer-bottom-cms col-sm-6">
  {{ footer_bottom }}
  </div>
  {% endif %}
  </div>
  </div>
</div>
</footer>
</div>

{% if module_tt_live_search_status %}

      <script type="text/javascript"><!--
        var tt_live_search = {
          selector: '#header-search input[name=\'search\']',
          text_no_matches: '{{ text_empty }}',
          height: '50px'
        }

        $(document).ready(function() {
          var html = '';
          html += '<div class="live-search">';
          html += ' <ul>';
          html += ' </ul>';
          html += '<div class="result-text"></div>';
          html += '</div>';

          //$(tt_live_search.selector).parent().closest('div').after(html);
          $(tt_live_search.selector).after(html);

          $(tt_live_search.selector).autocomplete({
            'source': function(request, response) {
              var filter_name = $(tt_live_search.selector).val();
              var cat_id = 0;
              var module_tt_live_search_min_length = '{{ module_tt_live_search_min_length|abs }}';
              if (filter_name.length < module_tt_live_search_min_length) {
                $('.live-search').css('display','none');
              }
              else{
                var html = '';
                html += '<li style="text-align: center;height:10px;">';
                html += '<img class="loading" src="image/catalog/demo/banners/loading.gif" />';
                html += '</li>';
                $('.live-search ul').html(html);
                $('.live-search').css('display','block');

                $.ajax({
                  url: 'index.php?route=extension/module/tt_live_search&filter_name=' +  encodeURIComponent(filter_name),
                  dataType: 'json',
                  success: function(result) {
                    var products = result.products;
                    $('.live-search ul li').remove();
                    $('.result-text').html('');
                    if (!$.isEmptyObject(products)) {
                      var show_image = {{ module_tt_live_search_show_image|abs }};
                      var show_price = {{ module_tt_live_search_show_price|abs }};
                      var show_description = {{ module_tt_live_search_show_description|abs }};
                      $('.result-text').html('<a href="{{ module_tt_live_search_href }}'+filter_name+'" class="view-all-results">{{ text_view_all_results|e }} ('+result.total+')</a>');

                      $.each(products, function(index,product) {
                        var html = '';

                        html += '<li>';
                        html += '<a href="' + product.url + '" title="' + product.name + '">';
                        if(product.image && show_image){
                          html += ' <div class="product-image col-sm-3 col-xs-4"><img alt="' + product.name + '" src="' + product.image + '"></div>';
                        }
                        html += '<div class="search-description col-sm-9 col-xs-8">';
                        html += ' <div class="product-name">' + product.name ;
                        if(show_description){
                          html += '<p>' + product.extra_info + '</p>';
                        }
                        html += '</div>';
                        if(show_price){
                          if (product.special) {
                            html += ' <div class="product-price"><span class="special">' + product.price + '</span><span class="price">' + product.special + '</span></div>';
                          } else {
                            html += ' <div class="product-price"><span class="price">' + product.price + '</span></div>';
                          }
                        }
                        html += '</div>';
                        html += '<span style="clear:both"></span>';
                        html += '</a>';
                        html += '</li>';
                        $('.live-search ul').append(html);
                      });
                    } else {
                      var html = '';
                      html += '<li style="text-align: center;height:10px;">';
                      html += tt_live_search.text_no_matches;
                      html += '</li>';

                      $('.live-search ul').html(html);
                    }
                    $('.live-search').css('display','block');
                    return false;
                  }
                });
              }
            },
            'select': function(product) {
              $(tt_live_search.selector).val(product.name);
            }
          });

          $(document).bind( "mouseup touchend", function(e){
            var container = $('.live-search');
            if (!container.is(e.target) && container.has(e.target).length === 0)
            {
              container.hide();
            }
          });
        });
      //--></script>
    {% endif %}


{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
